<html>
    <head>
        {% load static %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    </head>
    <body>
        <h2>Wyszukiwanie to nasza pasja</h2>

        <form id="input_data_form">
            <h3>Wybierz typ napedu</h3>
            {% for actuator_type_key, actuator_type in actuator_types.items %}
                <input type="radio" name="actuator_type" value="{{ actuator_type_key }}" checked>
                {{ actuator_type }}<br>
            {% endfor %}

            <h3>Wybierz orientację</h3>
            {% for actuator_orientation_key, actuator_orientation in actuator_orientations.items %}
                <input type="radio" name="actuator_orientation" value="{{ actuator_orientation_key }}" checked>
                {{ actuator_orientation }}<br>
            {% endfor %}

            <div id="actuator_orientation_img_div">
                <img src="{% static 'img/horizontal_side.jpg' %}"
                     id="actuator_orientation_img_horizontal_side"
                     style='display:none'>

                <img src="{% static 'img/horizontal_top.jpg' %}"
                     id="actuator_orientation_img_horizontal_top"
                     style='display:none'>

                <img src="{% static 'img/vertical.jpg' %}"
                     id="actuator_orientation_img_vertical"
                     style='display:none'>
            </div>

            <h3>Podaj skok</h3>
            Skok: <input type="text" name="step" id="expected_step_input" maxlength="4" size="1"> mm <br>

            <h3>Podaj mase</h3>
            Masa: <input type="text" name="mass" id="expected_mass_input" maxlength="4" size="1"> kg <br>

            <h3>Podaj odchylenia masy od środka ciężkości układu</h3>
            Ix: <input type="text" name="distance_of_mass_x"
                       id="distance_of_mass_x" maxlength="4" size="1"> mm <br>
            Iy: <input type="text" name="distance_of_mass_y"
                       id="distance_of_mass_y" maxlength="4" size="1"> mm <br>
            Iz: <input type="text" name="distance_of_mass_z"
                       id="distance_of_mass_z" maxlength="4" size="1"> mm <br>

            <h3>Wybierz profil ruchu</h3>
            {% for motion_profile_key, motion_profile in motion_profiles.items %}
                <input type="radio" name="motion_profile" value="{{ motion_profile_key }}" checked>
                {{ motion_profile }}<br>
            {% endfor %}

            <div id='motion_profile_parameters'>
                <div id='acc_and_speed_parameters' style='display:none'>
                    v_max: <input type="text" name="v_max"
                                  id="acc_and_speed_parameters_v_max" maxlength="4" size="1"> m/s <br>

                    acc: <input type="text" name="acc"
                                id="acc_and_speed_parameters_acc" maxlength="4" size="1"> m/s^2 <br>
                </div>
                <div id='total_time_parameters' style='display:none'>
                    t_total: <input type="text" name="t_total"
                                    id="total_time_parameters_t_total" maxlength="4" size="1"> s <br>
                </div>
                <div id='total_and_acc_time_parameters' style='display:none'>
                    t_total: <input type="text" name="t_total"
                                    id="total_time_and_acc_parameters_t_total" maxlength="4" size="1"> s <br>
                    t_acc/dcc: <input type="text" name="t_acc_dcc"
                                      id="total_time_and_acc_parameters_t_acc_dcc" maxlength="4" size="1"> m/s^2 <br>
                </div>
            </div>

            <input type="submit" id="submit_input_data" value="Filtruj napedy">
        </form>

        <form id="actuators_list_form">
            <h3>Napędy spełniające kryteria:</h3>
            <div id="actuators_list_div"></div>
            <input type="submit" id="actuators_list_button" value="Generuj kody dla wybranych napedow"
                   style='display:none' >
        </form>

        <div id="actuators_codes_div"></div>
    </body>
</html>