<h1>{{ title }}</h1>

wybor napedu (czekbox):
    - karetka
    - tloczysko
    - pion

wybor orientacji (czekbox):
    - horizontal top
    - horizontal side
    - vertical

skok (input field)
masa (input field)
Ix (input field)
Iy (input field)
Iz (input field)

wybor profilu ruchu (czekbox):
    - zadane predkosc i przyspieszenie
    - zadany czas ruchu - ruch w trójkąt - przypspiesza/zwalnia do polowy
    - t, tacc/dcc - ruch w rąb, zade przyspieszenie/zwolnienie i czas ze stala predkoscia

w zaleznosci od wybranego profilu ruchu wyswietlane sa parametry jako inpout field




{% if actuators %}
    <ul>
    {% for a in actuators %}
        <li><a href="/searchingEngine/{{ a.id }}/">{{ a.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}